.app-input-number {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(110, 73, 73);
  padding: 4px;
  border-radius: 10px;
  background-color: rgb(250, 244, 236);
}

.app-input-number-item {
  margin: 4px;
}

.app-section-total {
  align-self: end;
  justify-self: start;
  font-size: larger;
  font-weight: bolder;
}

button {
  &:hover {
    scale: 1.2;
  }
  &:active {
    scale: 0.8;
  }
}

.app-section-title {
  margin: 5px;
  font-size: larger;
  font-weight: bolder;
}

.remove-btn {
  background-color: rgb(245, 153, 153);
  border-radius: 3px;
}

input {
  height: 20px;
  &:hover {
    scale: 1.02;
  }
  &:focus {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
  }
}
