.app-input-number {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid black;
  padding: 4px;
  border-radius: 10px;
  background-color: rgb(250, 244, 236);
}

.app-input-number-item {
  margin: 4px;
}

.app-section-total {
  align-self: end;
  justify-self: start;
}

button {
  &:hover {
    scale: 1.2;
  }
  &:active {
    scale: 0.8;
  }
}

.app-section-title {
  margin: 5px;
  font-size: larger;
  font-weight: bolder;
}

.remove-btn {
  background-color: rgb(245, 153, 153);
}
